body{
    color:red;
    /* color: rgba(255,255,0,0.); */
    /* color: #de3333; */
    font-size: 12px;
    /* font-size: 0.3cm */
}

h1{
    font-size:40px;
}
p{
    color: navy;
    font-size: 15px;
}
input{display:block;
margin:0 auto;}