header{
    border: 1px solid red;
}
nav{
    border: 1px solid red;
}
section{
    border: 1px solid red;
}
article{
    border: 1px solid red;
}
aside{
    border: 1px solid red;
}
footer{
    border: 1px solid red;
}
#login{
    border: 1px solid red;
}
h1{
    color: blue;
}
#titulodiferente{
    color:orangered;
}
.formatandospan{
    color:red;
    font-style: italic;
} 
